<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='fw_updater.js') }}"></script>
    <title>Meraki Firewall Rules Updater</title>
</head>

<body>
<h1 class="text-center my-4">L3 Firewall Rules Updater</h1>
    <div class="container">  
        <div class="form-group w-75">
            <label for="nw" class="font-weight-bold">Network: </label>
            <select id="nw" class="form-control d-inline w-25">
                <option value="">-- Select one network --</option>
            </select>
        </div>
        <hr>
        <div class="alert alert-dark text-center">
            <h6 class="d-inline">Please update a <b><i>.xlsx</i></b> file below which contains firewall rules</h6>
            <button type="button" class="btn btn-light" id="download_btn">Download template
                <img src="{{ url_for('static', filename='icons/download.png') }}" alt="download icon" width="30" height="30">
            </button>
        </div>
        <br>
        <br>
        <br>
        <div class="d-flex justify-content-center">
            <form enctype="multipart/form-data" class="w-25">
                <div class="form-group">
                    <input type="file" name="fw_rules_f" id="f_inp" class="form-control pt-1">
                </div>
            </form>
        </div>
        <br>
        <label for="var_required_inp" class="font-weight-bold">Variables included?
            <input type="checkbox" id="var_required_inp">
        </label> 
        <div id="vars_div">
            <div class="d-flex justify-content-center">
                <table class="mt-4 rounded-lg">
                    <tr class="text-center bg-light">
                        <th>Variable</th><th>Value</th><th></th>
                    </tr>
                    <tbody id="vars_in_div">
                        <!-- <tr>
                            <td class="var"><input type="text" class="form-control" value="SERVERIP"></td>
                            <td class="val"><input type="text" class="form-control" value="10.0.0.3"></td>
                            <td class="bg-light"><span class="close">&times;</span></td>
                        </tr>
                        <tr>
                            <td class="var"><input type="text" class="form-control" value="SERVERIP110"></td>
                            <td class="val"><input type="text" class="form-control" value="10.0.0.110"></td>
                            <td class="bg-light"><span class="close">&times;</span></td>
                        </tr>
                        <tr>
                            <td class="var"><input type="text" class="form-control" value="PRINTERIP250"></td>
                            <td class="val"><input type="text" class="form-control" value="10.0.0.250"></td>
                            <td class="bg-light"><span class="close">&times;</span></td>
                        </tr>
                        <tr>
                            <td class="var"><input type="text" class="form-control" value="VLAN200/25"></td>
                            <td class="val"><input type="text" class="form-control" value="10.0.1.0/25"></td>
                            <td class="bg-light"><span class="close">&times;</span></td>
                        </tr>
                        <tr>
                            <td class="var"><input type="text" class="form-control" value="VLAN100/24"></td>
                            <td class="val"><input type="text" class="form-control" value="10.0.0.0/24"></td>
                            <td class="bg-light"><span class="close">&times;</span></td>
                        </tr>
                        <tr>
                            <td class="var"><input type="text" class="form-control"></td>
                            <td class="val"><input type="text" class="form-control"></td>
                            <td class="bg-light"><span class="close">&times;</span></td>
                        </tr>     -->
                    </tbody>
                    <tr class="text-center bg-light" id="add_tr">
                        <td colspan="3">
                            <button type="button" class="btn btn-sm mt-1" id="add_btn">
                                <img src="{{ url_for('static', filename='icons/chevron-double-down-light.svg') }}" alt="plus icon" width="14" height="14">
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <br><br><br>
        <button type="button" class="btn btn-block btn-outline-secondary" id="proceed_btn">Proceed</button>
    </div>
</body>

</html>